<div class="container">
  <a routerLink="/">Ve trang chu</a>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th colspan="2" style="text-align: center">Danh sach doc</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td *ngIf="!book.read">{{ book.name }}</td>
        <td *ngIf="!book.read">
          <button (click)="changeReaded(book.id)">Da doc</button>
        </td>
      </tr>
      <tr>
        <td colspan="2" style="text-align: right">
          <input type="text" [(ngModel)]="bookName"/>
          <button class="btn btn-light" (click)="addBook()">Them</button>
        </td>
      </tr>
    </tbody>
  </table>
  <a routerLink="/readed-list">Danh sach da doc</a>
</div>
